/* used to style the ReactPaginate */
@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";

.app-page {
  position: fixed;
  padding: 0 24px;
  top: 48px; /* header height */
  left: 0;
  right: 0;
  bottom: 44px; /* footer height */
  overflow: auto;
}
