body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.app-page {
  position: fixed;
  padding: 0 24px;
  top: 48px; /* header height */
  left: 0;
  right: 0;
  bottom: 44px; /* footer height */
  overflow: auto;
}

/* Pagination Style */
.pagination-container {
  display: flex;
  padding: 0;
  border-radius: var(--borderRadiusMedium);
  box-shadow: var(--shadow4Brand);
}
.pagination-list-item {
  flex: 1;
  list-style: none;
}
.pagination-button {
  display: inline-block;
  width: 100%;
  height: 36px;
  line-height: 36px;
  padding: 0 4px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
}
.pagination-active {
  background: var(--colorBrandBackground);
}
